<head>
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css" rel="stylesheet">
</head>
<html>
<body>
<div class="container-fluid">
    <div class="row">
        <div class="col-md-4">

        </div>
        <div class="text-left col-md-5">
            <h1>Reduced chemical controls</h1>
        </div>
        <div class="col-md-3">
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12">
            <hr>
        </div>

        <div class="row">
            <div class="text-center col-md-6">
                <h1>IONIZATION:</h1>
                <hr>
            </div>
            <div class="text-center col-md-6">
                <h1>OXIDIZATION:</h1>
                <hr>
            </div>
        </div>
        <div class="row">
            <div class="text-center col-md-6">
                <h1>FEED TIME</h1>
            </div>
            <div class="text-center col-md-6">
                <h1>FEED TIME</h1>
            </div>
        </div>
        <div class="row">
            <div class="dropdown text-center col-md-6">
                <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">High
                    <ul class="dropdown-menu">
                        <li><a href="#">Low</a></li>
                        <li><a href="#">Medium</a></li>
                    </ul>
                    <span class="caret"></span></button>
            </div>
            <div class="text-center col-md-6">
                <button class="ghost-button">Submit</button>
            </div>

        </div>
        <div class="row">
            <div class="text-center col-lg-12">

                <h1>POOL SYSTEMS CONTROLS</h1>
                <hr>
            </div>
        </div>

        <div class="row">
            <div class="text-center col-md-6">
                <h1>FILTER PUMP:<h1>
                    <form action="/new" method="post">

                        <select name="hour">
                            <option value="6">6 hours</option>
                            <option value="7">7 hours</option>
                            <option value="8">8 hours</option>
                            <option value="9">9 hours</option>
                            <option value="10">10 hours</option>
                            <option value="11">11 hours</option>
                            <option value="12">12 hours</option>
                            <option value="13">13 hours</option>
                            <option value="14">14 hours</option>
                            <option value="15">15 hours</option>
                            <option value="16">16 hours</option>
                            <option value="17">17 hours</option>
                            <option value="18">18 hours</option>
                            <option value="19">19 hours</option>
                            <option value="20">20 hours</option>
                            <option value="21">21 hours</option>
                            <option value="22">22 hours</option>
                            <option value="23">23 hours</option>
                            <option value="24">24 hours</option>
                        </select>
                        <input type="submit" value="Go">
                    </form>
            </div>
            <div class="text-center col-md-6">
                <h1>LIGHTS:</h1>
            </div>
        </div>
        <div class="row">
            <div class="text-center col-md-6">
                <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/311237/pump.jpg">
            </div>
            <div class="text-center col-md-6">
                <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/311237/lights.jpg">
            </div>
        </div>
        <div class="row">
            <div class="text-center col-md-6">
                <h1>HEATER:</h1>
            </div>
            <div class="text-center col-md-6">
                <h1>AUX:</h1>
            </div>
        </div>
        <div class="row">
            <div class="text-center col-md-6">
                <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/311237/heater.jpg">
            </div>
            <div class="text-center col-md-6">
                <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/311237/uvlight.gif">
            </div>
        </div>
</body>

</html>